
@{
    Layout = "_Layout";
    string wrp = "wrp_" + Guid.NewGuid().ToString("N");
    string grid = "grd_" + Guid.NewGuid().ToString("N");
}

<div id="@wrp">
    
    <div>

    </div>
    <div id="@grid"></div>

</div>

<script>
    $(function() {
        var $grid = $('#@grid');

        $grid.kendoGrid({
            dataSource: {
                type: "webapi",
                transport: {
                    read: {
                        url: "@Url.Action("GetAll", "Order")"                        
                    }
                },
                schema: {
                    id: "ID",
                    data: "Data",
                    total: "Total"
                },
                pageSize: 20,
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            selectable: "single,row",
            filterable: true,
            sortable: true,
            pageable: true,
            columns: [
                {
                    field: "State",
                    title: "Статус",
                },
                {
                    field: "Address",
                    title: "Адрес"
                },
                {
                    field: "Phone",
                    title: "Телефон"
                },
                {
                    field: "UserName",
                    title: "Имя покупателя"
                },
                {
                    title: '',
                    field: null,
                    template: '<a href="/Order/Edit?id=#:Id#">Edit</a>'
                }
            ]
        });
    })
</script>