@{
    string wrapID = "wrp_" + Guid.NewGuid().ToString("N");
    string productWrap = "cmb_" + Guid.NewGuid().ToString("N");
    Layout = null;
}


<div id="@wrapID">
    <div class="form-group">
        <label class="control-label">Продукт</label>
        <div id="@productWrap"></div>
    </div>
    
    <div class="form-group">
        <label class="control-label">Количество</label>
        <input type="number"/>
    </div>    
</div>


