@using Data.Entities
@using Kendo.Mvc.UI
@model Magazin.Models.DialogViewModel
@{
    string wrapID = Guid.NewGuid().ToString("N");
}


<div>
</div>

<script>
    (function() {
        window['@Model.DialogId'] = new DialogControl('@Model.DialogId');
    })()
</script>



@(Html.Kendo().Splitter()
        .Name(wrapID)
        .Panes(p =>
        {
            p.Add().Content(Html.Partial("~/Areas/Admin/Views/Categories/ProductCategories.cshtml", Model).ToHtmlString())
                .Collapsible(true)
                .Size("20%")
                .MinSize("255px");


            p.Add().Content(Html.Partial("~/Areas/Admin/Views/Product/ProductsGrid.cshtml", Model).ToHtmlString())
                .MinSize("400px")
                .HtmlAttributes(new { style = "overflow-y: hidden !important;" })
                .Scrollable(false);
        })
)
<script>
    $(function () {
        var control = window['@Model.DialogId'];        
        var height = $(window).height() - 5; //65 magic
        var $splitter = $('#@wrapID');
        var splitter = $splitter.data('kendoSplitter');
        
        $splitter.height(height);
        control.resizeChilds(height);
        splitter.resize();


        setTimeout(function () {

            var onResize = function () {
                var h = $(window).height() - 5; //65 magic
                $splitter.height(h);
                splitter.resize();
                control.resizeChilds(h);
            };

            $(window).on("resize", onResize);

        }, 500);
    });
</script>


