@{

}


<div>
    <div>
        <label>Наименование</label>
        <input type="text" data-bind="text: Title"/>        
    </div>
    
    
    <div>
        <label>Цена</label>
        <input type="number" data-bind="text: Price" />
    </div>    
</div>


<script>
    

</script>