@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/require.js")" data-main="/Scripts/app/main"></script>



<div id="app" style="height: 100%">    
</div>


<script>
    var router = new kendo.Router();
    router.start();
    router.navigate('/Admin/Product/Products');
</script>