@model WebUiAdmin.Models.AccountViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    <input asp-for="Login"/>
    <input asp-for="Password"/>
    <div>
        <button type="submit">Log in</button>
    </div>
</form>

