.editor-row {
    padding: 15px;
    box-sizing: content-box;
}

.editor-label {
    margin-top: 5px;
    width: 20%;
    font-size: 15px;
    font-weight: 300;
    text-align: right;
    float: left;
    min-height: 1px;
    padding: 0 15px;
    box-sizing: border-box;
}

.editor-container {
    position: relative;
    width: 80%;
    min-height: 1px;
    padding: 0 15px;
    box-sizing: border-box;
}

.toolbar-save-container {
    float: right;
    height: 50px;
    line-height: 50px;
}
