.k-widget .k-pane,
.k-widget .k-pane * {
  box-sizing: border-box;
}
.k-header {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.77);
}
.k-pane {
  background-color: #FFF;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
.k-widget.k-tooltip-validation {
  position: absolute;
  bottom: 100%;
  left: 0;
  padding: 0 5px;
  border: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 10px;
  font-weight: 300;
  background-color: #D32F2F;
  color: white;
  text-transform: lowercase;
}
.k-widget.k-tooltip-validation > .k-icon {
  display: none;
}
.k-sprite,
.k-sprite.glyphicon,
.k-sprite.halfling,
.k-sprite.fa {
  font-size: inherit;
}
.k-autocomplete,
.k-dropdown-wrap,
.k-numeric-wrap,
.k-overflow-anchor,
.k-picker-wrap,
.k-textbox {
  transition: box-shadow 0.12s linear;
}
.k-checkbox:checked + .k-checkbox-label:before {
  background-color: #03a9f4;
  border-color: #03a9f4;
}
.k-checkbox:checked + .k-checkbox-label:active:after {
  box-shadow: 0 0 0 12px rgba(3, 169, 244, 0.15);
}
.k-dropdown-wrap .k-input,
.k-dropdown-wrap.k-state-default,
.k-dropdown-wrap.k-state-focused .k-input,
.k-dropdown-wrap.k-state-active,
.k-numeric-wrap.k-state-default,
.k-numeric-wrap.k-state-active,
.k-numeric-wrap.k-state-focused .k-input,
.k-picker-wrap.k-state-default,
.k-picker-wrap.k-state-active,
.k-picker-wrap.k-state-focused .k-input {
  border-color: #F0F0F0;
}
.k-autocomplete.k-state-default,
.k-autocomplete.k-header,
.k-autocomplete .k-input,
.k-autocomplete.k-state-focused .k-input,
.k-multiselect.k-header,
.k-textbox > input,
.input-group .k-textbox {
  border: none;
}
.input-group .k-textbox {
  width: 100%;
}
.input-group .k-textbox:hover,
.k-autocomplete.k-state-hover,
.k-overflow-anchor:hover {
  box-shadow: none;
}
.k-header {
  font-weight: 300;
}
.k-splitter {
  height: 100%;
  border: none;
}
.k-splitter .k-splitbar {
  background-color: transparent;
}
.k-splitter .k-splitbar-horizontal {
  width: 1rem;
}
.k-splitter .k-splitbar-horizontal .k-icon {
  margin-left: calc(1rem / 2 - 2.5px);
}
.k-autocomplete.k-state-border-down {
  padding-bottom: 0;
}
.k-button,
.k-button:focus,
.k-split-button,
.k-split-button:focus {
  background-color: transparent;
}
.k-button {
  border: none;
  color: rgba(0, 0, 0, 0.77);
  font-weight: 400;
  transition: background-color 0.1s linear;
}
.k-button.primary,
.k-button.primary:focus,
.k-button.primary:hover:focus {
  background-color: #03a9f4 !important;
  color: white !important;
}
.k-button.primary.k-state-disabled,
.k-button.primary:focus.k-state-disabled,
.k-button.primary:hover:focus.k-state-disabled {
  background-color: #03a9f4 !important;
  color: white !important;
}
.k-button.primary:hover,
.k-button.primary:hover:active {
  background-color: rgba(3, 169, 244, 0.85) !important;
}
.k-button.secondary,
.k-button.secondary:focus,
.k-button.secondary:hover:focus {
  background-color: #3F51B5 !important;
  color: white !important;
}
.k-button.secondary.k-state-disabled,
.k-button.secondary:focus.k-state-disabled,
.k-button.secondary:hover:focus.k-state-disabled {
  background-color: #3F51B5 !important;
  color: white !important;
}
.k-button.secondary:hover,
.k-button.secondary:hover:active {
  background-color: rgba(63, 81, 181, 0.85) !important;
}
.k-button.success,
.k-button.success:focus,
.k-button.success:hover:focus {
  background-color: #4CAF50 !important;
  color: white !important;
}
.k-button.success.k-state-disabled,
.k-button.success:focus.k-state-disabled,
.k-button.success:hover:focus.k-state-disabled {
  background-color: #4CAF50 !important;
  color: white !important;
}
.k-button.success:hover,
.k-button.success:hover:active {
  background-color: rgba(76, 175, 80, 0.85) !important;
}
.k-button.error,
.k-button.error:focus,
.k-button.error:hover:focus {
  background-color: #D32F2F !important;
  color: white !important;
}
.k-button.error.k-state-disabled,
.k-button.error:focus.k-state-disabled,
.k-button.error:hover:focus.k-state-disabled {
  background-color: #D32F2F !important;
  color: white !important;
}
.k-button.error:hover,
.k-button.error:hover:active {
  background-color: rgba(211, 47, 47, 0.85) !important;
}
.k-toolbar {
  height: 50px;
  border: none;
  background: #FFF;
}
.k-toolbar > .k-button,
.k-toolbar > .k-button-group,
.k-toolbar > .k-separator {
  float: left;
}
.k-toolbar > .k-overflow-anchor {
  float: right;
}
.k-toolbar .k-button {
  display: inline-flex;
  align-items: center;
}
.k-toolbar .k-button-group {
  display: inline-flex;
}
.k-toolbar .k-separator {
  height: 24px;
  margin: 13px 0.2em;
}
.k-toolbar,
.k-toolbar .k-button-group,
.k-toolbar .k-split-button,
.k-toolbar .k-button {
  height: 50px;
  line-height: 50px;
}
.k-toolbar .k-button-group .k-split-button,
.k-toolbar .k-split-button,
.k-toolbar .k-button-group .k-button,
.k-toolbar .k-button {
  margin: 0;
}
.k-toolbar .k-button-group .k-split-button .k-sprite,
.k-toolbar .k-split-button .k-sprite,
.k-toolbar .k-button-group .k-button .k-sprite,
.k-toolbar .k-button .k-sprite {
  margin: 0;
}
.k-toolbar .k-split-button .k-button,
.k-toolbar .k-button-group .k-button,
.k-toolbar .k-button {
  padding: 0 1.2em;
}
.k-toolbar .k-split-button,
.k-toolbar .k-button-group {
  margin: 0 0.2em 0 0;
}
.k-toolbar .k-button-group:last-child {
  margin-right: 0;
}
.k-toolbar .k-split-button > .k-split-button-arrow {
  padding: 0 0.2em;
}
.k-toolbar .k-overflow-anchor[style^="visibility: hidden"] {
  display: none !important;
}
.k-toolbar .k-overflow-anchor:hover,
.k-toolbar .k-overflow-anchor.k-state-border-down {
  background-color: #EBEBEB;
}
.k-list > .k-state-selected {
  background-color: #009fee;
  border-color: #009fee;
}
.k-list > .k-state-selected,
.k-list > .k-state-selected.k-state-focused {
  color: #FFF;
}
.k-list > .k-state-selected:hover {
  background-color: #008edd;
  border-color: #008edd;
}
.k-icon.glyphicon,
.k-icon.halfling,
.k-icon.fa,
.k-icon.mdi {
  background-image: none;
}
.k-grid {
  height: 100%;
  border: none;
}
.k-grid-header th.k-header {
  padding: .5em .6em .5em .6em;
}
.k-grid tr:hover {
  background-color: transparent;
}
.k-grid tr.k-state-selected:hover td {
  background-color: #00b0ff;
}
.k-grid td.k-state-focused {
  box-shadow: none;
}
.k-multiselect-wrap li span {
  display: flex;
  align-items: center;
}
.k-numerictextbox .k-numeric-wrap .k-input {
  height: 38px;
  box-sizing: border-box;
}
.k-slider .k-slider-selection {
  background-color: #03a9f4;
  border-color: #03a9f4;
}
.k-slider .k-draghandle {
  box-shadow: none;
  transition: box-shadow 0.2s;
}
.k-slider .k-draghandle,
.k-slider .k-draghandle:hover,
.k-slider .k-draghandle.k-state-focused,
.k-slider .k-draghandle.k-state-focused:link {
  background-color: #03a9f4;
  border-color: #03a9f4;
}
.k-slider .k-draghandle:hover {
  box-shadow: 0 0 0 8px rgba(3, 169, 244, 0.15);
}
.k-tabstrip:focus {
  box-shadow: none;
}
.k-tabstrip-items {
  font-weight: 500;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.k-tabstrip-items .k-item {
  background-color: transparent;
  transition: border-color 0.1s linear;
}
.k-tabstrip-items .k-item.k-state-hover {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
.k-tabstrip-items .k-item.k-state-active {
  border-color: #03a9f4;
}
.k-tabstrip-items .k-item .k-loading {
  border-top: none;
}
.k-tabstrip-items .k-item .k-link {
  color: rgba(0, 0, 0, 0.77);
}
.k-treeview {
  height: 100%;
}
.k-treeview .k-state-selected {
  background-color: #03a9f4;
  color: #FFF;
}
.k-treeview .k-state-selected .glyphicon,
.k-treeview .k-state-selected .halfling,
.k-treeview .k-state-selected .fa,
.k-treeview .k-state-selected .mdi {
  color: #FFF !important;
}
.k-treeview .k-state-selected.k-state-focused {
  background-color: #47c4fd;
}
.k-upload .k-file-success .k-progress {
  background-color: #5cb85c;
  color: #FFF;
}
.k-window .k-window-titlebar {
  height: 1.2em;
  padding: 0.85em 0;
  font-size: 1.3em;
  font-weight: 500;
}
.k-window .k-window-titlebar .k-state-hover {
  background-color: transparent;
  border-color: transparent;
}
.k-window .k-window-title {
  right: 5em;
}
.k-window[data-role="draggable"] > .k-window-titlebar,
.k-window[data-role="draggable"] > .k-window-titlebar > .k-window-title {
  cursor: move;
  cursor: -webkit-grab;
}
.k-window[data-role="draggable"] > .k-window-titlebar:active,
.k-window[data-role="draggable"] > .k-window-titlebar:active > .k-window-title {
  cursor: -webkit-grabbing;
}
.k-window .k-window-titlebar > .k-window-actions,
.k-window .k-window-titlebar:active > .k-window-actions {
  right: 0;
  padding: 0.65em 0.9em 0 0;
  cursor: default;
}
.k-window .k-window-titlebar .k-link {
  display: inline-block;
  color: rgba(0, 0, 0, 0.77);
  transition: opacity 0.1s linear;
}
.k-window .k-window-titlebar .k-link,
.k-window .k-window-titlebar .k-link .k-icon {
  width: auto;
  height: auto;
  background-image: none;
  font-size: 0;
}
.k-window .k-window-titlebar .k-link .k-i-maximize,
.k-window .k-window-titlebar .k-link .k-i-restore,
.k-window .k-window-titlebar .k-link .k-i-close {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
.k-window .k-window-titlebar .k-link .k-i-maximize:before,
.k-window .k-window-titlebar .k-link .k-i-restore:before,
.k-window .k-window-titlebar .k-link .k-i-close:before {
  font-size: 1.85rem;
}
.k-window .k-window-titlebar .k-link .k-i-maximize:before {
  content: "\F293";
}
.k-window .k-window-titlebar .k-link .k-i-restore:before {
  content: "\F294";
}
.k-window .k-window-titlebar .k-link .k-i-close:before {
  content: "\F156";
}
.k-window .k-window-titlebar .k-link + .k-link {
  margin-left: 0.5rem;
}
div.k-window-content {
  height: calc(100% -  1px);
  top: 1px;
}
.k-calendar .k-header .k-link {
  color: #3f51b5 !important;
}
.k-calendar .k-header .k-link:hover {
  color: #fff !important;
}
.k-calendar .k-header .k-link.k-nav-prev {
  background-color: #3f51b5;
  border-radius: 50%;
}
.k-calendar .k-header .k-link.k-nav-next {
  background-color: #3f51b5;
  border-radius: 50%;
}
.km-switch,
.km-checkbox {
  height: 30px;
  line-height: 30px;
}
.km-switch {
  cursor: pointer;
}
.km-switch-container,
.km-switch-wrapper {
  border: 1px solid rgba(230, 230, 230, 0.4);
}
.km-switch-off .km-switch-container {
  background: #F0F0F0;
}
.km-switch-background,
.km-switch-handle {
  background-color: #FAFAFA;
}
.km-switch-handle {
  display: inline-block;
  top: -1px;
  font-family: 'Glyphicons Regular';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: white;
  color: rgba(0, 0, 0, 0.41);
}
.km-switch-handle:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  margin-left: -6px;
  font-size: 12px;
  transform: scale(0.8, 1.25) rotate(90deg);
  content: "\E159";
}
.km-switch-handle .k-icon {
  vertical-align: initial;
}
.km-switch-label-on {
  top: 1px;
}
.km-switch-label-off {
  top: 2px;
  opacity: 0.8;
}