<div id="index" class="public-content">

    <div id="categories" class="product-categories">

    </div>

    <div id="products" class="products">

    </div>
</div>

<script>

    (function () {
        var dialogControl = window['index'];

        dialogControl.addToCard = function (e) {                        
            var productId = $(e).attr('data-id');            
            $.ajax({
                type: "POST",
                url: "@Url.Action("AddToBascet", "Bascet")",
                data: JSON.stringify({ productId: productId }),
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                }
            });

        };


        dialogControl.productsDataSource = new kendo.data.DataSource({
            type: 'aspnetmvc-ajax',
            transport: {
                prefix: "",
                read: {
                    url: "@Url.Action("GetProducts")"
                }
            },
            schema: {
                data: "Data",
                total: "Total",
                errors: "Errors",
                model: {
                    id: "Id",
                    fields: {
                        Id: { type: "number" },
                        Title: { type: "string" }
                    }
                }
            }
        });

        dialogControl.onCategoryChange = function (e) {
            var category = e.sender.dataItem(e.sender.select());
            if (category) {
                dialogControl.productsDataSource.read({ categoryId: category.Id });
            }
        }

    })();
</script>

<script>


    $(function () {

        var viewModel = window['index'];

        var height = $(window).height() - $('#top-menu').height() - 2;  //поправка на ветер

        $('#categories').kendoGrid({
            selectable: "single, row",
            rowTemplate: kendo.template($('#category-template').html()),
            columns: [{}],
            change: viewModel.onCategoryChange,
            dataSource: {
                pageSize: 25,
                type: "aspnetmvc-ajax",
                transport: {
                    prefix: "",
                    read: {
                        url: "@Url.Action("GetProductCategories")"
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",
                    model: {
                        id: 'Id',
                        fields: {
                            Id: { type: "number" },
                            Title: { type: "string" },
                            File: { type: "string", defaultValue: null }
                        }
                    }
                }
            }
        });

        $('#categories').height(height);

        $('#products').kendoGrid({
            rowTemplate: kendo.template($('#product-template').html()),
            selectable: "single, row",
            autobind: false,
            height: height,
            filterable: true,
            sortable: true,
            pageable: true,
            columns: [{}],
            dataSource: viewModel.productsDataSource
        });

    });
</script>

<script type="text/x-kendo-template" id="category-template">
    <tr data-uid="#: uid #">
        <td>
            <div class="category">
                <img src="/Files/#=File#" width="64" height="64" />
                <span>#:Title#</span>
            </div>
        </td>
    </tr>
</script>

<script type="text/x-kendo-template" id="product-template">
    <tr data-uid="#:uid#">
        <td>
            <div class="list-view-product">
                <div>
                    <img src="/Files/#=File#" height="64" />
                </div>
                <div class="list-view-product--description">
                    <h3>#:Title#</h3>
                    # if(Description) {#
                    <span>#:Description#</span>
                    #}#
                </div>
                <div>
                    <span class="price">&nbsp;#:Price#&nbsp;₩</span>
                </div>
                <div>
                    <button class="btn btn-success" data-id="#:Id#" onclick='index.addToCard(this)'>
                        <span class="fa fa-plus">&nbsp;Добавить в корзину&nbsp;</span>
                    </button>
                </div>
            </div>
        </td>
    </tr>
</script>