@model Magazin.Models.LeftMenuModel
@{
    string wrapID = Guid.NewGuid().ToString("N");
    string menuID = Guid.NewGuid().ToString("N");
}


<div id="@wrapID">
    <ul id="@menuID">
        @foreach (var cat in Model.ProductCategories)
        {
            <li data-id="@cat.Id">@cat.Title</li>
        }
        
        <li>test</li>
        <li>test</li>
        <li>test</li>
    </ul>
</div>

<script>
    $(function () {
        $('#@menuID').kendoMenu();
    })
</script>

