@{
    ViewBag.Title = "Пользователи";
    Layout = "_Layout";
    string wrapID = "wpr_" + Guid.NewGuid().ToString("N");
}


<div id="@wrapID">
    
</div>


<script>
    var $wrap = $('#@wrapID');

    $(function () {

        $wrap.kendoGrid();

    });    
</script>