<div>
    <ul id="adminMenu">
        <li>@Html.ActionLink("Продукты", "Products", "Product")</li>
        <li>Остатки</li>
    </ul>
</div>



<script>
    $('#adminMenu').kendoMenu({
        orientation: "vertical"
    });
</script>
