<nav>

    <ul>
        <li>
            <a href="#/Admin/Product/Index">
                <i class="glyphicon glyphicon-cargo side-bar-item-icon"></i>
                <span>Продукты</span>
            </a>
        </li>
        <li>
            <a href="#/Admin/Balance/Balances">
                <i class="side-bar-item-icon halfling halfling-book tooltipstered"></i>
                <span>Остатки</span>
            </a>
        </li>
        <li>
            <a href="#/Admin/Balance/Receipt">
                <i class="side-bar-item-icon halfling halfling-bitcoin"></i>
                <span>Приход</span>
            </a>
        </li>
    </ul>
</nav>

