<div>
    <ul id="adminMenu">
        <li><a href="#/Admin/Product/Products">Продукты</a></li>
        <li><a href="#/Admin/Balance/Balances">Остатки</a></li>        
    </ul>
</div>



<script>
    $('#adminMenu').kendoMenu({
        orientation: "vertical"
    });    
</script>
