body {
    background: #242424 !important;
    color: #ffffff !important;
}



.header {
    padding: 2%;
    overflow-x: hidden;
    background: #2a2a2a;
    color: white;
}


.main-nav {
    background: #292929;
}

.container-fluid {
    padding: 0 !important;
}

.logo {
    background: url("../images/logo.png");    
    background-repeat: no-repeat;
}


.product-item {
    background: white;
    color: #242424;
}