body {
    background: #242424 !important;
    color: #ffffff !important;
}

span {
    color: white !important;
    font-family: "Roboto";
    font-size: 18px;
}

.header {
    padding: 2%;
    overflow-x: hidden;
    background: #2a2a2a;
    color: white;
}


.main-nav {
    background: #292929;
}

.container-fluid {
    padding: 0 !important;
}

.logo {
    background: url("/images/logo.png");    
    background-repeat: no-repeat;
}


.product-item {
    background: white;
    color: #242424;
}

.slider-container {
    height: 555px;
    background-image: url("/images/slider_back.png");
    background-repeat: no-repeat;
}

.slider-wrapper {
    padding-top: 65px;
}

.contact-container {
    padding: 2%;
}

.search-box-container {
    padding-top: 5%;
}

.text-input {
    display: inline-block;    
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
