body {
  margin: 0;
  background-color: #fafafa;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #2e2e2e;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
