<nav>
    <ul>
        <li>
            <a href="@Url.Action("Index", "User")">
                <i class="side-bar-item-icon fa fa-users"></i>
                <span>Пользователи</span>
            </a>
        </li>        
    </ul>
</nav>

