
@{
    ViewBag.Title = "Index";
    string wrapID = Guid.NewGuid().ToString("N");
}

<div id="wrapID">
    
</div>

<script>
    $(function() {

        $('#@wrapID').kendoGrid();

    });


</script>

