<a href="#/Bascet" class="btn navbar__cart">
    <i class="fa fa-shopping-cart"></i>
    <span>Корзина</span>
    <div class="nav-bar-count">
        <span id="bascet-count">0</span>
    </div>
</a>

<script>

    var getBascetCount = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetBascetCount", "Bascet")",            
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $('#bascet-count').text(result);
            }
        });

    }

    var timerId = setInterval(getBascetCount, 2000);
</script>